* {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    background-color: #FCFCFC;
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
    padding: 30px 0px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

header > h1, header > p {
    background-color: white;
}

body {
    
}